* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-size: 175%;
	margin-bottom: 15px;
}

div.row {
	width: 100%;
}

div {
	position: relative;
	padding: 10px;
}

#chicken {
	background-color: lightyellow;
}

#beef {
	background-color: lightpink;
}

#sushi {
	background-color: lightblue;
}

p.column-title {
	position: absolute;
	text-align: right;
	font-weight: bold;
	background-color: grey;
	right: 0;
	top: 0;
}

p {
	margin: 10px;
}

@media {
	.col-desktop-4, .col-tablet-6, .col-tabet-12, .col-mobile-12 {
		background-color: lightgray;
	}
}

/*********** Desktop only ***********/

@media (min-width: 992px) {
	
	.col-desktop-4 {
		float: left;
		border: 1px solid green;
		width: 33.33%;
	}
}


/*********** Tablet only ***********/

@media (min-width: 768px) and (max-width: 991px) {
	
	.col-tablet-6 {
		float: left;
		border: 1px solid green;
		width: 50%;
	}

	.col-tablet-12 {
		float: left;
		border: 1px solid green;
		width: 100%;
	}
}

/*********** Mobile only ***********/

@media (max-width: 767px) {
	.col-mobile-12 {
		float: left;
		border: 1px solid green;
		width: 100%;
	}
}
